{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
    {% for dishByPlace in dishesByPlaces %}
            <div>
                <h1>{{ dishByPlace['place'].name }}</h1>
                <img style="width: 300px" src="{{ vich_uploader_asset(dishByPlace['place'], 'imageFile') }}"><br>
                <span>{{ dishByPlace['place'].description }}</span>
                <h3>Популярные блюда:</h3><br>

            {% for dish in dishByPlace['dishes'] %}

                <h4>{{ dish['dish'].name }}</h4>
                <img style="width: 300px; height: 300px; text-align: center" src="{{ vich_uploader_asset(dish['dish'], 'imageFile') }}"><br>

            {% endfor %}

            </div>

    {% endfor %}
{% endblock %}